/* Reset básico para tirar margens estranhas */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-principal {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  /* O degradê azul exatamente igual à imagem */
  background: linear-gradient(180deg, #007FFF 0%, #0033A0 100%);
  font-family: 'Outfit', sans-serif;
}

.card-cadastro {
  width: 100%;
  max-width: 450px; /* Isso impede que os campos fiquem esticados demais */
  text-align: center;
  padding: 20px;
}

.card-cadastro h1 {
  font-size: 5rem; 
  color: white;
  font-weight: 900;
  margin-bottom: 40px;
  letter-spacing: -3px;
}

.campo-input {
  text-align: left;
  margin-bottom: 15px;
  width: 100%;
}

.campo-input label {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  margin-left: 15px;
  display: block;
  margin-bottom: 5px;
}

.campo-input input {
  width: 100%;
  padding: 20px 25px;
  border-radius: 50px;
  border: none;
  outline: none;
  font-size: 1.1rem;
}

.botao-cadastrar {
  width: 100%;
  padding: 18px;
  background-color: #002080; /* Azul escuro do botão */
  color: white;
  border: 1.5px solid white;
  border-radius: 50px;
  font-size: 1.8rem;
  font-weight: 800;
  margin-top: 30px;
  cursor: pointer;
}
.link-login {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.link-login a {
  color: #0095ff;
  font-weight: bold;
  text-decoration: none;
}

.link-login a:hover {
  text-decoration: underline;
}