.card-login {
  width: 100%;
  max-width: 450px;
  text-align: center;
  padding: 20px;
}

.card-login h1 {
  font-size: 5rem;
  color: white;
  font-weight: 900;
  margin-bottom: 40px;
  letter-spacing: -3px;
  font-family: 'Righteous', sans-serif;
    font-weight: 400; /* regular */

}
.campo-input label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: white;
}
.campo-input input::placeholder {
font-family: "Roboto", sans-serif;
  font-weight: 500;  
  color: #A3A3A3;
  font-size: 13px;
}
.campo-input input {
font-family: "Roboto", sans-serif;
  font-weight: 500;  
  font-size: 14px;
  color: #000;
}


.botao-entrar {
  width: 100%;
  padding: 18px;
  background-color: #002080;
  color: white;
  border: 1.5px solid white;
  border-radius: 50px;
  font-size: 1.8rem;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.botao-entrar:hover {
  background-color: white;
  color: #002080;
}
.link-login {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
}

.link-login a {
  color: #0095ff;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.link-login a:hover {
  text-decoration: underline;
}